<a href="https://colab.research.google.com/github/narumirr/Algoritma-dan-pemrograman/blob/main/jobsheet%2004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM**

# Praktikum 01 - Perulangan For dengan Range

In [ ]:
for i in range (1, 6):
    print(i)

1
2
3
4
5

# Praktikum 02 - Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

# Praktikum 03 - Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

# Praktikum 04 - Break dan Continue

In [ ]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [ ]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

# Praktikum 05 - For pada Dictionary

In [ ]:
data = {"Nama":"Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items() :
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 06 - For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1) :
  print(i, nama)

1 Andi
2 Budi
3 Cici

# Praktikum 07 - Studi Kasus: Program Kasir Multi-Item

In [16]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower()== "selesai":
      break
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

print("\n==== Struk Belanja ====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): topi
Masukkan harga topi: 10000
Masukkan jumlah topi: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): tas
Masukkan harga tas: 400000
Masukkan jumlah tas: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

==== Struk Belanja ====
Total Belanja : Rp 1220000.0

# **PENUGASAN**

# Penugasan 1 - Menampilkan Deret Angka

In [ ]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

# Penugasan 02 - Hitung Faktorial

In [1]:
n = int(input("Masukkan angka: "))

faktorial = 1
i = 1

while i <= n:
  faktorial *= i
  i += 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan angka: 5
Faktorial dari 5 adalah 120

# Penugasan 03 - Pola Segitiga Terbalik

In [2]:
tinggi = 5
for i in range(tinggi, 0, -1):
  for j in range (i):
    print("*", end="")
  print()

*****
****
***
**
*

# Penugasan 04 - Cari Bilangan Prima dengan Break

In [5]:
n = int(input("Masukkan angka: "))

prima = True

if n < 2:
  prima = False
else:

    for i in range(2, n):
      if n % i == 0:
        prima = False
        break

if prima:
  print(n, "adalah bilangan prima")
else:
  print(n, "bukan bilangan prima")

Masukkan angka: 7
7 adalah bilangan prima

# Penugasan 05 - Tampilkan Hanya Bilangan Genap dengan Continue

In [8]:
for i in range (1, 21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

# Penugasan 06 - Iterasi Dictionary Mahasiswa

In [10]:
data = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}

for k, v  in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# Penugasan 07 - Enumerate Daftar Barang

In [11]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

# Penugasan 08 - Studi Kasus - Kasir Diskon

In [19]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break

  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

if total >= 200000:
  diskon = 0.1
else:
  diskon = 0

total_bayar = total - (total * diskon)

print("\n==== Struk Belanja ====")
print(f"Total Belanja : Rp {total}")
print(f"Diskon : {diskon*100}%")
print(f"Total Bayar : Rp {total_bayar}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): topi
Masukkan harga topi: 100000
Masukkan jumlah topi: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): tas
Masukkan harga tas: 100000
Masukkan jumlah tas: 1
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

==== Struk Belanja ====
Total Belanja : Rp 300000.0
Diskon : 10.0%
Total Bayar : Rp 270000.0