<a href="https://colab.research.google.com/github/narumirr/Algoritma-dan-pemrograman/blob/main/jobsheet%2007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur: ", koordinat[1])

Lintang: 7.05
Bujur:  110.44

# Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

# Praktikum 03 - Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20                  #menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  #memperbarui data
del mahasiswa["Umur"]                   #menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 04 - Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1: ", mhs1)
print("Mata kuliah Mhs2: ", mhs2)
print("Mata kuliah yang sama: ", mhs1 & mhs2)

Mata kuliah Mhs1:  {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata kuliah Mhs2:  {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama:  {'Matematika', 'Algoritma'}

# Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
    }

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# Penugasan 01 - Tuple Sederhana

In [1]:
mahasiswa = ("Amir", "19", "Teknologi Rekayasa Komputer")

print("Nama: ", mahasiswa[0])
print("Umur: ", mahasiswa[1])
print("Prodi: ", mahasiswa[2])

Nama:  Amir
Umur:  19
Prodi:  Teknologi Rekayasa Komputer

# Penugasan 02 - Tuple Tidak Bisa Diubah

In [2]:
angka = (1, 2, 3)

try:
    angka[0] = 5
except TypeError as e:
  print("Terjadi error:", e)

print("Isi tuple:", angka)

Terjadi error: 'tuple' object does not support item assignment
Isi tuple: (1, 2, 3)

# Penugasan 03 - Dictionary Dasar

In [3]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": "2021"
}

print("Judul  :", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun  :", buku["Tahun"])

Judul  : Algoritma
Penulis: Munir
Tahun  : 2021

# Penugasan 04 - Operasi Dictionary

In [5]:
data_dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

data_dosen["Umur"] = 40
data_dosen["Prodi"] = "Teknik Komputer"
del data_dosen ["Umur"]

print("Data akhir dosen:", data_dosen)

Data akhir dosen: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# Penugasan 05 - Set dan Himpunan

In [6]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union (gabungan)      :", A | B)
print("intersection (irisan) :", A & B)
print("Difference (selisih)  :", A - B)

Union (gabungan)      : {'Bahasa Inggris', 'Algoritma', 'Basis Data', 'Matematika'}
intersection (irisan) : {'Algoritma', 'Matematika'}
Difference (selisih)  : {'Bahasa Inggris'}

# Penugasan 06 - Studi Kasus Dictionary

In [10]:
nilai = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
    }

print("Daftar Nilai Mahasiswa:")
for nama, skor in nilai.items():
    print(f"{nama}: {skor}")

rata_rata = sum(nilai.values()) / len(nilai)
print(f"Nilai rata - rata: {rata_rata:.2f}")

Daftar Nilai Mahasiswa:
Andi: 85
Budi: 90
Cici: 78
Nilai rata - rata: 84.33

# Penugasan 07 - Studi Kasus Set - Klub Mahasiswa

In [12]:
Klub_A = {"Andi", "Budi", "Cici"}
Klub_B = {"Cici", "Deni", "Eka"}

print("Seluruh anggota (Union)             :", Klub_A | Klub_B)
print("Anggota di kedua klub (Intesection) :", Klub_A & Klub_B)
print("Anggota hanya di Klub A (Difference):", Klub_A - Klub_B)

Seluruh anggota (Union)             : {'Andi', 'Eka', 'Budi', 'Cici', 'Deni'}
Anggota di kedua klub (Intesection) : {'Cici'}
Anggota hanya di Klub A (Difference): {'Andi', 'Budi'}