<a href="https://colab.research.google.com/github/narumirr/Algoritma-dan-pemrograman/blob/main/jobsheet%2004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM**

# Praktikum 01 - Perulangan For dengan Range

In [1]:
for i in range (1, 6):
    print(i)

1
2
3
4
5

# Praktikum 02 - Perulangan While

In [11]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

# Praktikum 03 - Nested Loop (Segitiga Bintang)

In [3]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

# Praktikum 04 - Break dan Continue

In [4]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [5]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

# Praktikum 05 - For pada Dictionary

In [7]:
data = {"Nama":"Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items() :
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 06 - For dengan Enumerate

In [8]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1) :
  print(i, nama)

1 Andi
2 Budi
3 Cici

# Praktikum 07 - Studi Kasus: Program Kasir Multi-Item

In [12]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower()== "selesai":
      break
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

print("\n==== Struk Belanja ====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): buku
Masukkan harga buku: 50000
Masukkan jumlah buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): pulpen
Masukkan harga pulpen: 5000
Masukkan jumlah pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

==== Struk Belanja ====
Total Belanja : Rp 115000.0

# **PENUGASAN**

# Penugasan 1 - Menampilkan Deret Angka

In [14]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

# Hitung Faktorial