<a href="https://colab.research.google.com/github/narumirr/Algoritma-dan-pemrograman/blob/main/jobsheet%2006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Membuat dan Mengakses List ID

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])    #Andi
print(mahasiswa[1])    #Budi
print(mahasiswa[-1])   #Cici

Andi
Budi
Cici

# Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])   # [85, 90, 78]
print(nilai[2:])    # [78, 92, 88]
print(nilai[:3])    # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0] [0])   #1
print(matriks[1] [2])   #6
print(matriks[2])       #[7, 8, 9]

1
6
[7, 8, 9]

# Praktikum 05 - Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i] [j] + B[i] [j])
    C.append(baris)

print(C)
print(i)

[[8, 10, 12], [14, 16, 18]]
1

# Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# Penugasan 01 - Akses Elemen List

In [1]:
mahasiswa = ["Amir", "Faqih", "Abi", "Faiq", "Budi"]

print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[2])

Amir
Budi
Abi

# Penugasan 02 - Operasi Dasar List

In [4]:
nilai = [70, 75, 80]

nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

# Penugasan 03 - Slicing List

In [5]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print[0:3]
print[5:]
print[0, 2]

TypeError: 'builtin_function_or_method' object is not subscriptable

# Penugasan 04 - List 2D - Matriks

In [6]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print(matriks[0][2])
print(matriks[0])
print(matriks[1][2])

3
[1, 2, 3]
6

# Penugasan 05 - Operasi Matriks 2D

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

# Penugasan 06 - Rata - rata Nilai Mahasiswa

In [ ]:
nilai = [[75, 80, 85], [60, 70, 65, [90, 95, 92]]]

# Penugasan 07 - Studi Kasus - Data Toko

In [ ]:
stok = [["Buku",20], ["pulpen", 35], ["Penghapus", 15]]