<a href="https://colab.research.google.com/github/narumirr/Algoritma-dan-pemrograman/blob/main/jobsheet%2007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur: ", koordinat[1])

Lintang: 7.05
Bujur:  110.44

# Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [4]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

# Praktikum 03 - Operasi pada Dictionary

In [5]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20                  #menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  #memperbarui data
del mahasiswa["Umur"]                   #menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 04 - Set dan Operasi Himpunan

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [8]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1: ", mhs1)
print("Mata kuliah Mhs2: ", mhs2)
print("Mata kuliah yang sama: ", mhs1 & mhs2)

Mata kuliah Mhs1:  {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata kuliah Mhs2:  {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama:  {'Matematika', 'Algoritma'}

# Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [18]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
    }

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67