<a href="https://colab.research.google.com/github/narumirr/Algoritma-dan-pemrograman/blob/main/jobsheet%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Pengenalan Variabel dan Tipe Data

In [9]:
# Integer
umur = 20
print("Umur:", umur, "->", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "->", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "->", type (nilai))

# Tuple
koordinat = (10, 20)
print("koordinat:", koordinat, "->", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "Prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "music"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 20 -> <class 'int'>
Tinggi: 170.5 -> <class 'float'>
Nama: Andi -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 85, 90] -> <class 'list'>
koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'Prodi': 'TRK'} -> <class 'dict'>
Hobi: {'music', 'membaca', 'olahraga'} -> <class 'set'>

# Praktikum 02 - Input dan Output Dasar

In [10]:
# Input string
nama = input("Masukkan nama Anda: " )

# Input Integer
umur = int(input("Masukkan umur Anda: "))

# Input Float
tinggi = float(input("Masukkan tinggi Badan (cm): "))

# Output Standar
print("Halo,", nama, "umur Anda:", umur, "tahun", "tinggi:", tinggi, "cm")

# Output dengan format ()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: amir
Masukkan umur Anda: 19
Masukkan tinggi Badan (cm): 170.8
Halo, amir umur Anda: 19 tahun tinggi: 170.8 cm
Halo amir, umur Anda 19 tahun, tinggi 170.8 cm
Halo amir, umur Anda 19 tahun, tinggi 170.8 cm

# Praktikum 03 - Operator Aritmatika

In [12]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b=", a ** b)

# Hasil program menunjukkan bahwa python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b= 50625

# Praktikum 04 - Operator Relational

In [13]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)
# Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian >= 60, atau apakah kehadiran mahasiswa memenuhi batas minimal.

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

# Praktikum 05 - Operator Logika dengan Studi Kasus Nyata